.about {
  margin: 7.9rem auto 10rem;
  display: flex;
  justify-content: center;
  gap: 12rem;

  @media only screen and (max-width: $bp-large) {
    flex-direction: column;
    align-items: center;
    gap: 8rem;
  }
  @media only screen and (max-width: $bp-medium) {
    margin: 4.2rem auto;
    gap: 4.2rem;
  }

  &__content {
    padding-top: 1.1rem;
    order: 2;
    flex: 0 0 33%;
    @media only screen and (max-width: $bp-large) {
      padding-top: 0;
      width: 56vw;
      order: 1;
    }
  }
  &__img {
    flex: 0 0 23%;
    width: 100%;
    height: 100%;
    order: 1;
    @media only screen and (max-width: $bp-large) {
      order: 2;
      width: auto;
    }
  }
  &__heading {
    color: $color-dark-l;
    margin-right: 3rem;
    @media only screen and (max-width: $bp-medium) {
      @include heading-3-mobile;
    }
  }
  &__paragraph {
    color: $color-dark-xl;
    margin-top: 2.4rem;
  }
}
