.donation {
  background-color: $color-light-l;
  display: flex;
  align-items: center;
  column-gap: 3rem;
  row-gap: 6rem;
  margin: 0rem auto 0rem auto;
  justify-content: center;
  padding-top: 8rem;
  padding-bottom: 10rem;

  @media only screen and(max-width: $bp-large) {
    flex-direction: column;
  }

  @media only screen and (max-width: $bp-medium) {
    padding-top: 4.2rem;
    padding-bottom: 4.2rem;
    row-gap: 4.2rem;
  }
  &__contant {
    order: 2;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    column-gap: 6rem;
    width: 30vw;
    @media only screen and(max-width: $bp-largest) {
      width: 40vw;
      order: 1;
    }
    @media only screen and(max-width: $bp-large) {
      width: 49vw;
      order: 1;
    }

    @media only screen and (max-width: $bp-medium) {
      width: 80vw;
      text-align: center;
      justify-content: center;
      align-items: center;
    }

    @media only screen and (max-width: $bp-small) {
      width: 88vw;
    }
  }
  &__heading {
    color: $color-dark-l;
    @media only screen and (max-width: $bp-medium) {
      @include heading-3-mobile;
    }
  }
  &__subtitle {
    color: $color-dark-l;
    @media only screen and (max-width: $bp-small) {
      line-height: 160%;
      letter-spacing: 0;
    }
  }
  &__button {
    justify-content: space-evenly;
    &__img {
      width: 3rem;
      height: 2.3rem;
    }

    > h4 {
      @media only screen and (max-width: $bp-medium) {
        @include heading-5;
      }
    }
  }
  &__paragraph {
    font-family: $font-secondary;
    font-style: italic;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: $color-dark-m;

    @media only screen and (max-width: $bp-small) {
      text-align: justify;
    }
  }

  &__img {
    order: 1;
    @media only screen and(max-width: $bp-largest) {
      order: 2;
    }
    @media only screen and (max-width: $bp-medium) {
      width: 100%;
    }
    @media only screen and (max-width: $bp-medium) {
      width: 83%;
    }
  }
}
