.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &--main {
    position: absolute;
    top: 6rem;
    padding: 0 4rem;

    @media only screen and (max-width: $bp-large) {
      top: 3rem;
      padding: 0 3rem;
    }

    &__burger-icon {
      position: relative;
      display: inline-block;
      transition: all 0.5s;

      &__wrapper {
        width: 3rem;
        height: 3rem;
        display: none;
        cursor: pointer;
        z-index: 500;
        margin-right: 2.3rem;
        @media only screen and (max-width: $bp-medium) {
          display: flex;
          align-items: center;
        }
      }

      &,
      &::before,
      &::after {
        width: 3rem;
        height: 2px;
        background-color: $color-primary;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
      }

      &::before {
        top: -1rem;
      }
      &::after {
        top: 1rem;
      }

      &.--active {
        & {
          transform: rotate(90deg);
        }
      }
    }
  }
}
