.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &--main {
    position: absolute;
    top: 6rem;
    padding: 0 4rem;

    @media only screen and (max-width: $bp-large) {
      top: 3rem;
      padding: 0 3rem;
    }
  }
}

.nav {
  display: flex;
  gap: 3.5rem;

  &__link:visited,
  &__link:link {
    &:hover {
      box-shadow: 0 3px 0 $color-primary;
    }
  }

  &--main {
    padding-bottom: 0.5rem;
    padding-right: 0.3rem;
    &__link:link,
    &__link:visited {
      color: $color-dark-s;
      text-decoration: none;
      transition: all 0.2s;

      &:hover {
        color: $color-light-s;
      }
    }
  }
}
