.help {
  margin: 7.5rem 4rem 10rem 4rem;
  display: grid;
  justify-items: center;

  &__heading {
    text-align: center;
    margin-bottom: 6rem;
    color: $color-dark-l;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 85.5%;
    column-gap: 12rem;
    row-gap: 5.5rem;
    justify-content: center;

    &__item {
      display: grid;
      justify-items: center;
      color: $color-dark-l;
    }
    &__item > svg {
      height: 6rem;
      width: 6rem;
      margin-bottom: 3rem;
    }
  }
}
