.pets {
  background-color: $color-light-l;
  display: flex;
  flex-direction: column;

  &__heading {
    margin-top: 8rem;
    margin-bottom: 6rem;
    align-self: center;
    color: $color-dark-l;
    width: 32%;
    text-align: center;
    @media only screen and(max-width: $bp-large) {
      width: auto;
    }
    @media only screen and (max-width: $bp-medium) {
      @include heading-3-mobile;
      margin-top: 4.2rem;
    }
  }
  &__btn {
    align-self: center;
    margin-top: 3rem;
    margin-bottom: 10rem;
    @media only screen and (max-width: $bp-medium) {
      @include heading-3-mobile;
      margin-bottom: 4.2rem;
    }
    @media only screen and (max-width: $bp-small) {
      margin-top: 6.5rem;
    }
  }
}
