.start-screen {
  background-image: radial-gradient(
      100% 215.42% at 0% 0%,
      #5b483a 0%,
      #262425 100%
    ),
    linear-gradient(0deg, #211f20, #211f20),
    url(../assets/svg/noise_transparent.svg);

  background-size: cover;

  &__content {
    padding: 18rem 4rem 0;
    display: flex;
    justify-content: space-between;
    gap: 4.2rem;
  }

  &__dog {
  }
}

.not-only {
  flex: 0 0 38%;
  &__heading {
    color: $color-light-xl;
  }

  &__paragraph {
    color: $color-dark-s;
  }
}
