.start-screen {
  background-image: radial-gradient(
      100% 215.42% at 0% 0%,
      #5b483a 0%,
      #262425 100%
    ),
    linear-gradient(0deg, #211f20, #211f20),
    url(../assets/svg/noise_transparent.svg);

  background-size: cover;

  &__content {
    padding: 18rem 4rem 0;
    display: flex;
    justify-content: space-between;
    gap: 4.2rem;
    @media only screen and (max-width: $bp-large) {
      padding-top: 15rem;
      align-items: center;
      flex-direction: column;
      row-gap: 10rem;
    }
  }

  &__dog {
    width: 100%;
    @media only screen and (max-width: $bp-large) {
      width: 74vw;
      align-self: end;
    }
  }
}

.not-only {
  flex: 0 0 38%;
  padding-top: 16.3rem;
  padding-right: 5rem;

  &__heading {
    color: $color-light-xl;
    @media only screen and (max-width: $bp-medium) {
      @include heading-3-mobile;
    }
  }

  &__paragraph {
    color: $color-dark-s;
    padding-top: 4.1rem;
    margin-right: -5.5rem;
  }

  @media only screen and (max-width: $bp-largest) {
    padding-top: 0;
  }

  @media only screen and (max-width: $bp-large) {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
