.start-screen {
  background-image: radial-gradient(
      100% 215.42% at 0% 0%,
      #5b483a 0%,
      #262425 100%
    ),
    linear-gradient(0deg, #211f20, #211f20),
    url(../assets/svg/noise_transparent.svg);

  background-size: cover;
  color: blue;
  grid-row: 1 / 3;
  grid-column: full-start/full-end;
}
