*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/ 16px = 62.5% => 1rem = 10px;
  scroll-behavior: smooth;
}

body {
  box-sizing: inherit;
  font-family: $font-primary;

  &.--active {
    overflow: hidden;
  }
}

// .container {
//   position: relative;
//   padding: 0 4rem;
//   // grid-template-columns:
//   //   [full-start] minmax(0rem, 1fr) 4rem
//   //   [center-start] repeat(6, [col-start] minmax(min-content, 20rem) [col-end])
//   //   [center-end] 4rem minmax(0rem, 1fr) [full-end];
// }
