.burger {
  background-color: $blackout;
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 200vh;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  display: flex;
  justify-content: end;
  overflow: hidden;
  @media only screen and (min-width: $bp-medium) {
    display: none;
  }

  &.--active {
    visibility: visible;
    opacity: 1;
  }
  &__contant {
    background-color: $color-dark-3xl;
    width: 32rem;
    height: 200vh;
    padding: 3rem 1rem 0 1rem;
  }
}
