// btns
.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    padding: 1.5rem 4.5rem;
    display: inline-block;
    border-radius: 10rem;

    font-family: $font-primary;
    font-size: 1.7rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $color-dark-3xl;

    /*button pushed, not immediate but white nice delay */

    //Change for the <button> element
    cursor: pointer;
  }

  &:hover {
    background-color: $color-primary-light;
  }

  &--primary {
    background-color: $color-primary;
  }
  &--secondary {
    background-color: $color-light-xl;
    border: 2px solid $color-primary-light;
  }
}

.btn--donation {
  max-width: 35rem;
  height: 4.3rem;
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  padding: 1rem 1.5rem;
  background-color: $color-primary;
  border: none;
  cursor: pointer;
  border-radius: 0.9rem;

  &:hover {
    background-color: $color-primary-light;
  }
}

// swipper slider on main page
.slider {
  margin: 0 4rem;
}
.swiper {
}

.swiper-slide {
  //height: 300px;

  display: flex;
  align-items: center;
  justify-content: center;
  //  //transition: all 200ms linear;
  //  //transform: scale(0.8);
}

.swiper-button-next {
  background-color: transparent;
  width: 5.2rem !important;
  height: 5.2rem !important;
  border: 2px solid $color-primary;
  border-radius: 10rem;
  font-size: 1.6rem;
  color: $color-dark-3xl !important;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
     Introduced in Internet Explorer 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
  -ms-user-select: none;

  &:hover {
    background-color: $color-primary-light;
    border: 2px solid $color-primary-light;
  }
  &::after {
    content: "" !important;
  }
}

.swiper-button-prev {
  background-color: transparent;
  width: 5.2rem !important;
  height: 5.2rem !important;
  border: 2px solid $color-primary;
  border-radius: 10rem;
  font-size: 1.6rem;
  color: $color-dark-3xl !important;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
     Introduced in Internet Explorer 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
  -ms-user-select: none;

  &:hover {
    background-color: $color-primary-light;
    border: 2px solid $color-primary-light;
  }
  &::after {
    content: "" !important;
  }
}

//card
//
.card {
  width: 27rem;
  height: 43.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-light-s;
  border-radius: 0.9rem;
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.1);
  margin-bottom: 3rem;
  &__title {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.3rem;

    letter-spacing: 0.06em;
    text-align: center;

    color: $color-dark-l;
    margin: 3rem 0;
  }
}
