.logo {
  > a {
    text-decoration: none;
  }
  &__title {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 110%;
    letter-spacing: 0.06em;
    &--main {
      color: $color-primary;
    }
  }

  &__subtitle {
    font-family: $font-secondary;
    font-size: 1.3rem;
    letter-spacing: 0.1em;

    &--main {
      color: $color-light-xl;
      padding-top: 1rem;
      display: block;
      padding-left: 0.4rem;
    }
  }
}

.heading-2 {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 4.4rem;
  line-height: 130%;
}

.heading-3 {
  font-family: $font-primary;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.06em;
}

@mixin heading-3-mobile {
  font-family: $font-primary;
  font-size: 2.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.heading-4 {
  font-family: $font-primary;
  font-size: 2rem;
  font-weight: 400;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.heading-5 {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
}

@mixin heading-5 {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.heading-5-modal-window {
  font-family: $font-primary;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.paragrpah-l {
  font-family: $font-secondary;
  font-size: 1.5rem;
  line-height: 160%;
}

.paragrpah-s {
  font-family: $font-secondary;
  font-style: italic;
  font-size: 1.2rem;
  line-height: 150%;
}

.paragrpah-mobile-menu {
  font-family: $font-secondary;
  font-size: 3.2rem;
  line-height: 160%;
}
