//COLORS
$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;

$color-light-xl: #ffffff;
$color-light-l: #f6f6f6;
$color-light-s: #fafafa;

$color-dark-s: #cdcdcd;
$color-dark-m: #b2b2b2;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;

$blackout: rgba(41, 41, 41, 0.6);
//$start-screen-gradient-background:
//$footer-gradient-backgroudn:

// FONTS
//
$font-primary: "Georgia", serif;
$font-secondary: "Arial", sans-serif;

//RESPONSIVE BREAKPOINTs
$bp-largest: 64em; // 1024 / 16px = 64em;
$bp-large: 56.5em; // 900px / 16px = 56.25em;
$bp-medium: 44em; // 700px / 16px = 43.75em;
$bp-small: 28em; //448px / 16px = 28em
